In [2]:
pip install pytrends --user

Requirement already satisfied: pytrends in /home/18122256/.local/lib/python3.6/site-packages (4.7.3)
Requirement already satisfied: lxml in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from pytrends) (4.6.1)
Requirement already satisfied: pandas>=0.25 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from pytrends) (1.1.3)
Requirement already satisfied: requests in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from pytrends) (2.21.0)
Requirement already satisfied: numpy>=1.15.4 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from pandas>=0.25->pytrends) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from pandas>=0.25->pytrends) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from pandas>=0.25->pytrends) (2020.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from requests->pytrends) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from requests->pytrends) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from requests->pytrends) (2020.6.20)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from requests->pytrends) (1.24.3)
Requirement already satisfied: six>=1.5 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install holidays --user

Requirement already satisfied: holidays in /home/18122256/.local/lib/python3.6/site-packages (0.10.3)
Requirement already satisfied: python-dateutil in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from holidays) (2.8.1)
Requirement already satisfied: six in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from holidays) (1.15.0)
Requirement already satisfied: convertdate in /home/18122256/.local/lib/python3.6/site-packages (from holidays) (2.2.2)
Requirement already satisfied: korean_lunar_calendar in /home/18122256/.local/lib/python3.6/site-packages (from holidays) (0.2.1)
Requirement already satisfied: pymeeus<=1,>=0.3.6 in /home/18122256/.local/lib/python3.6/site-packages (from convertdate->holidays) (0.3.7)
Requirement already satisfied: pytz>=2014.10 in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from convertdate->holidays) (2020.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install datetime --user

Requirement already satisfied: datetime in /home/18122256/.local/lib/python3.6/site-packages (4.3)
Requirement already satisfied: pytz in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from datetime) (2020.1)
Requirement already satisfied: zope.interface in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from datetime) (5.1.2)
Requirement already satisfied: setuptools in /opt/jupyterhub/anaconda/lib/python3.6/site-packages (from zope.interface->datetime) (50.3.0.post20201006)
Note: you may need to restart the kernel to use updated packages.

# 1.1 data post nl

In [5]:
#import packages
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
import matplotlib.patches as mpatches



#import data
df_postnl=pd.read_csv('/datc/parcel/notebooks/data/postnl/20201014_300_klanten.csv', parse_dates=[0])

#klant 153 eruit halen
cust_filter = df_postnl['cust_id'] == 'klant_153'
df_filter = df_postnl['procesdag'].dt.dayofweek <= 4
data_postnl = df_postnl.where(df_filter & cust_filter).dropna()
data_postnl

,procesdag,cust_id,aantal_pakketten,aantal_pakketten_volgende_dag,validation_column
47,2015-01-02,klant_153,5019.0,0.0,train
827,2015-01-05,klant_153,7699.0,7341.0,train
1087,2015-01-06,klant_153,7341.0,4414.0,train
1347,2015-01-07,klant_153,4414.0,4739.0,train
1607,2015-01-08,klant_153,4739.0,4387.0,train
...,...,...,...,...,...
503927,2020-04-23,klant_153,2988.0,7416.0,test
504187,2020-04-24,klant_153,7416.0,0.0,test
504967,2020-04-27,klant_153,2.0,8256.0,test
505227,2020-04-28,klant_153,8256.0,4951.0,test
505487,2020-04-29,klant_153,4951.0,6249.0,test

# 1.2 data knmi

In [6]:
#knmi data
df_knmi=pd.read_csv("/datc/parcel/notebooks/data/knmi/KNMI_20200710.csv",parse_dates=[1])
df_knmi

/opt/jupyterhub/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2,3,4,5,6,7,8,13,15,16,18,19,20,21,22,23,25,26,28,30,35,36,37,38,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STN,YYYYMMDD,DDVEC,FHVEC,FG,FHX,FHXH,FHN,FHNH,FXX,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
0,260,1901-01-01,,,,,,,,,...,,,,,66,,,,,
1,260,1901-01-02,,,,,,,,,...,,,,,86,,,,,
2,260,1901-01-03,,,,,,,,,...,,,,,89,,,,,
3,260,1901-01-04,,,,,,,,,...,,,,,79,,,,,
4,260,1901-01-05,,,,,,,,,...,,,,,65,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43651,260,2020-07-06,271,44,45,60,7,20,21,130,...,3,81,11,5,71,92,24,57,12,31
43652,260,2020-07-07,271,19,25,50,10,10,1,100,...,2,82,16,7,77,99,2,52,13,31
43653,260,2020-07-08,187,6,18,30,9,10,1,60,...,24,65,11,8,94,97,22,90,11,9
43654,260,2020-07-09,230,36,38,50,5,10,1,120,...,2,70,22,8,93,98,1,87,15,8
43655,260,2020-07-10,318,23,31,50,11,0,24,100,...,3,83,18,5,81,98,23,54,17,24

# 1.3 data mergen

In [7]:
#knmi data plus post nl data
df = pd.merge(data_postnl, df_knmi, how='inner', left_index=True, right_index=True)
df

,procesdag,cust_id,aantal_pakketten,aantal_pakketten_volgende_dag,validation_column,STN,YYYYMMDD,DDVEC,FHVEC,FG,...,VVNH,VVX,VVXH,NG,UG,UX,UXH,UN,UNH,EV24
47,2015-01-02,klant_153,5019.0,0.0,train,260,1901-02-17,,,,...,,,,,91,,,,,
827,2015-01-05,klant_153,7699.0,7341.0,train,260,1903-04-08,,,,...,,,,,75,,,,,
1087,2015-01-06,klant_153,7341.0,4414.0,train,260,1903-12-24,,,,...,,,,,97,,,,,
1347,2015-01-07,klant_153,4414.0,4739.0,train,260,1904-09-09,209,31,46,...,,,,,82,,,,,
1607,2015-01-08,klant_153,4739.0,4387.0,train,260,1905-05-27,350,15,31,...,,,,,71,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41907,2015-06-12,klant_153,3286.0,0.0,train,260,2015-09-27,41,23,23,...,5,82,14,2,86,98,1,62,14,17
42687,2015-06-15,klant_153,6332.0,4548.0,train,260,2017-11-15,197,27,28,...,5,45,13,8,98,98,1,96,12,2
42947,2015-06-16,klant_153,4548.0,3792.0,train,260,2018-08-02,330,20,22,...,4,83,18,3,64,97,4,38,14,48
43207,2015-06-17,klant_153,3792.0,3852.0,train,260,2019-04-19,76,32,35,...,7,83,18,3,42,59,23,25,16,39
43467,2015-06-18,klant_153,3852.0,3497.0,train,260,2020-01-04,263,33,35,...,21,70,12,8,88,98,22,78,12,1

## 1.3 correlatie matrix knmi

In [9]:
#correlatie feestdagen en postnldata
correlation_matrix =df.corr()
correlation_matrix

,aantal_pakketten,aantal_pakketten_volgende_dag,STN,TG,TN,TX
aantal_pakketten,1.000000,0.281946,NaN,-0.178086,-0.151596,-0.177545
aantal_pakketten_volgende_dag,0.281946,1.000000,NaN,0.203546,0.149490,0.232546
STN,NaN,NaN,NaN,NaN,NaN,NaN
TG,-0.178086,0.203546,NaN,1.000000,0.938994,0.967388
TN,-0.151596,0.149490,NaN,0.938994,1.000000,0.836621
TX,-0.177545,0.232546,NaN,0.967388,0.836621,1.000000